{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Promotion Edit {% endblock %}
{% block head %}


{% endblock %}
{% block content %}


 
 <section class="content">

        <div class="row">

          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Promotion</h3>
            </div>
            <!-- /.box-header -->

            <!-- form start -->
            <form class="form-horizontal" method="post" id="addUserForm"  enctype="multipart/form-data">
                    {% csrf_token %}
                   
              <div class="box-body">

               <div class="form-group">
                <label ></label>
                 <label for="productimage" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                 <input type="text" value="{{pro.name}}" class="form-control" placeholder=" Name"  name="name" id="name" required>
               </div>
             </div>

           
             <div class="form-group">
              <label ></label>

              <label for="quantity" class="col-sm-2 control-label">file</label>

              <div class="col-sm-10">
                <select name="file" class="form-control" required>
                  {% for yes in pros %}
                  <option value="{{yes.id}}" {% if yes.id == pro.file.id %} selected {%endif %}>{{yes.name }}</option>
                   {% endfor %}
                </select>
          </div>
           </div>

           <div class="form-group">
                <label ></label>
                 <label for="productimage" class="col-sm-2 control-label">Start_On</label>
                <div class="col-sm-10">
                 <input type="datepicker" value="{{pro.start_on|date:'yy-m-d'}}" class="datepicker form-control"name="start_on" id="datepicker" readonly>

               </div>
             </div>

                 <div class="form-group">
          <label ></label>
          <label for="file" class="col-sm-2 control-label">Choose Templates</label>
          <div class="col-sm-10">
          <select class="form-control" id="templates" name="templates"  required >
            <option value="" disabled selected> Select the Template</option>

            {% for objec in add_p %}
            <option value="{{objec.id}}"> {{objec.name}} </option>
            {% endfor %}
          </select>
          </div>
          </div>
       </div>
   </div>
<!-- /.box-body -->
<div class="box-footer">
  <button type="submit" class="btn btn-info pull-right">Edit Event</button>
</div>
<!-- /.box-footer -->
</form>
</div>

</div>
</section>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
 $(function () {
  $("#datepicker").datepicker({ 
        autoclose: true, 
        todayHighlight: true,
        format: 'yyyy-mm-dd', 

  }).datepicker('update', new Date());
});

{% endblock %}